extends template
include imgs_row

block variables
    - var title ='Яхта PRINCESS X95'
    - var style ='x95.css'

block header
    h3 Моторные яхты X-класса

block article
    section
        .imgg
            img(src="img/princess-x95.jpg")
        .info
            h3 Яхта PRINCESS X95
            .text Запоминающаяся идеальной формой и плавностью линий, Princess X95 является воплощением эффектного дизайна нового класса. Флайбридж и главная палуба почти во всю длину корпуса позволяют вам и вашим гостям использовать пространство максимально гибко и наслаждаться комфортом в каждом путешествии. С запасом топлива в 13 400 литров Princess X95 идеальна для дальних переходов.
            .text Через окна салона, обращенные к носу, вы можете наблюдать великолепную морскую панораму. По внутреннему трапу можно подняться на верхнюю палубу — в закрытый со всех сторон панорамный лаунж с регулируемой температурой салона.
